{% extends "layouts/base.html" %}
{% block content %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP972344"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- ======= Header ======= -->
{% include 'layouts/header.html' %}
<!-- End Header -->
<!-- ======= About Section ======= -->
{% include 'portfolio/about.html' %}
<!-- End About Section -->
<!-- ======= Portfolio Section ======= -->
{% include 'portfolio/portfolio.html' %}
<!-- End Portfolio Section -->
<!-- ======= Contact Section ======= -->
{% include 'portfolio/contactme.html' %}
<!-- End Contact Section -->
<!-- ======= Footer Section ======= -->
{% include 'layouts/footer.html' %}
<!-- End Footer Section -->
{% endblock content %}
